@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.project {
    width: 100%;
    @include tablet {
        width: 85%;
        margin: 0 auto;
    }
    &__title {
        margin-bottom: 0.5rem;
        color: $portfolio-lilac;
        font-size: 2rem;
        @include tablet {
            margin-bottom: 1rem;
        }
    }
    &__tech-container {
        display: flex;
    }
    &__stack-container {
        margin-right: 1.5rem;
        @include tablet {
            margin-right: 3rem;
        }
    }
    &__stack-header {
        color: $med-dark-grey;
        margin-bottom: 0.1rem;
    }
    &__stack-list {
        margin-bottom: 1rem;
    }
    &__stack-item {
        margin: 0.3rem 0;
    }
    &__stack-icon {
        width: 1.5rem;
        height: 1.5rem;
        margin: 0.1rem 0 0 0.4rem;
        @include tablet {
            margin: 0.15rem 0 0 0.5rem;
        }
    }
    &__stack-item-container {
        display: flex;
    }
    &__also-container {

    }
    &__also-header {
        color: $med-dark-grey;
        margin-bottom: 0.1rem;
    }
    &__also-list {
        margin-bottom: 1rem;
    }
    &__also-item {
        margin: 0.3rem 0;
    }
    &__description-header {
        margin-bottom: 0.5rem;
        color: $med-dark-grey;
        @include tablet {
            margin-bottom: 1rem;
        }
    }
    &__description {
        margin-bottom: 1rem;
        @include tablet {
            margin-bottom: 2rem;
        }
    }
    &__requirements-header {
        margin-bottom: 0.5rem;
        color: $med-dark-grey;
        @include tablet {
            margin-bottom: 1rem;
        }
    }
    &__requirements {
        margin-bottom: 2rem;
        @include tablet {
            margin-bottom: 3rem;
        }
    }
}

.preview {

    &__video-player {
        width: 100%;
        border: 1px solid $portfolio-lilac;
        border-radius: 0.5rem;
        @include tablet {
            margin-top: 1rem;
        }
    }
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between; //mobile
    margin: 0.5rem 0;
    @include tablet {
        margin: 1rem 0;
        justify-content: space-evenly;
    }
    &__link {
        padding: 0.5rem;
        border: 1px solid $portfolio-lilac;
        margin: 0.5rem 1rem 1.9rem 1rem;
        text-decoration: none;
        color: $dark-grey;
        border-radius: 0.5rem;
        @include tablet {
            padding: 0.75rem;
            margin: 1rem;
        }
        &:hover {
            box-shadow: 0 0 0.7rem 0.001rem $portfolio-grey;
        }
        &:active {
            transform: translate(0, 0.2rem);
        }
    }
    &__preview {
        padding: 0.5rem;
        border: 1px solid $portfolio-lilac;
        margin: 0.5rem 1rem 1.9rem 0;
        text-decoration: none;
        color: $dark-grey;
        border-radius: 0.5rem;
        @include tablet {
            padding: 0.75rem;
            margin: 1rem 1rem 1rem 0;
        }
        &:hover {
            box-shadow: 0 0 0.7rem 0.001rem $portfolio-grey;
        }
        &:active {
            transform: translate(0, 0.2rem);
        }
    }
    &__code {
        padding: 0.5rem;
        border: 1px solid $portfolio-lilac;
        text-decoration: none;
        color: $portfolio-grey;
        border-radius: 0.5rem;
        margin: 1rem 0 1rem 1rem;
        @include tablet {
            padding: 0.75rem;
        }
    }
    &__private-container {
        display: flex;
        margin: 1.1rem 0.4rem 1.5rem 1rem;
        @include tablet {
            margin: 1.6rem 0 1rem 1rem;
        }
    }
    &__private-text {
        margin: 0 1rem 0 0;
        @include tablet {
            margin: 0.2rem 1rem 0 0;
        }
    }
    &__private-icon {
        width: 1.4rem;
        height: 1.4rem;
        margin-top: -0.2rem;
        @include tablet {
            margin: 0;
            width: 1.4rem;
            height: 1.4rem;
        }
    }
}