$tablet-width: 48rem;
$desktop-width: 80rem;
$desktop-content-width: 70rem;

$portfolio-lilac: #6654ac;
$portfolio-grey: #757575;
$white: #FFFFFF;
$light-silver: #efefef;
$dark-purple: #22106c;
$dark-grey: #4d4b4b;
$medium-grey: #949494;
$med-dark-grey: #5e5c5c;