$tablet-width: 48rem;
$desktop-width: 80rem;
$desktop-content-width: 70rem;

$portfolio-lilac: #BEB3EC;
$portfolio-grey: #B9B9B9;
$white: #FFFFFF;
$light-silver: #FBFBFB;
$dark-purple: #4022b5;
$dark-grey: #4d4b4b;
$medium-grey: #949494;
$med-dark-grey: #5e5c5c;