@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.projects-page {
    height: fit-content;
    @include tablet {
      height: fit-content;  
    }
    &__content {
        color: $medium-grey;
        padding: 2rem 1.5rem;
        @include tablet {
            
        }
        @include desktop {
            width: $desktop-content-width;
            margin: 0 auto;
        }
    }
    &__header {
        margin: 0 0 2rem 0;
        font-size: 1.6rem;
        color: $portfolio-grey;
        @include tablet {
            margin: 0 0 2rem 0.5rem;
        }
        @include desktop {
            margin: 0 0 2rem 0;
        }
    }
    &__list {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
}