@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.nav {
    background-color: $light-silver;
    color: $portfolio-lilac;

    &__list {
        display: flex;
        flex-direction: column;
        //justify-content: center;
        padding: 1rem 0 0 0;
        list-style-type: none;
        @include tablet {
            flex-direction: row;
            justify-content: space-between;
            padding: 1rem 2rem 0 2rem;
        }
        @include desktop {
            width: $desktop-content-width;
            padding: 1rem 0 0 0;
            margin: 0 auto;
        }
    }
    &__icon {
        width: 1.5rem;
        height: 1.5rem;
        display: block;
        margin: 0 auto 1rem auto;
        &:hover {
            box-shadow: 0 0 0.7rem 0.001rem $portfolio-grey;
        }
        &:active {
            transform: translate(0, 0.2rem);
        }
        @include tablet {
            margin: 0;
        }
    }
    &__menu {
        display: flex;
        flex-direction: column;
        @include tablet {
            justify-content: flex-end;
            flex-direction: row;
        }
    }
    &__item {
        color: $portfolio-lilac;
        text-decoration: none;
        display: block;
        margin: 0 auto 1rem auto;
        width: fit-content;
        &:hover {
            color: $dark-purple;
            text-decoration: underline;
        }
        &:active {
            transform: translate(0, 0.2rem);
        }
        @include tablet {
            margin: 0 0 1rem 1.5rem;   
        }
        @include desktop {
            margin: 0 0 1rem 2rem;
        }
    }
}