@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.skills-page {
    max-height: fit-content;
    @include tablet {
        min-height: 89vh;
    }
    @include desktop {
        width: $desktop-content-width;
        margin: 0 auto;
    }
    &__content {
        padding: 2rem 1.5rem;
        display: flex;
        flex-direction: column;
        @include tablet {
            padding: 2rem;
        }
        @include desktop {
            padding: 2rem 0;
        }
    }
    &__header {
        color: $portfolio-grey;
        font-size: 1.6rem;
        @include tablet {
            margin-left: 0;
        }
        @include desktop {
            margin: 0;
        }
    }
    &__skills {
        display: flex;
        flex-wrap: wrap;
    }
}
.front-end {
    padding: 1rem;
    min-width: 10rem;
    max-width: fit-content;
    margin: 1rem 1rem 0 0;
    color: $medium-grey;
    border: $portfolio-grey 1px solid;
    border-radius: 0.5rem;
    &__header {
        color: $med-dark-grey;
        margin-bottom: 0.4rem;
        @include tablet {
            margin-bottom: 0.75rem;
        }
    }
    &__item-container {
        display: flex;
        &:hover {
            .front-end__item {
                font-size: 1.6rem;
                margin: 0.4rem 0 0.4rem 1rem;
            }
            .front-end__icon {
                height: 2rem;
                width: 2rem;
                margin-top: 0.3rem;
                margin-right: 1rem;
            }
        }
    }
    &__item {
        margin: 0.25rem 0 0.4rem 1rem;
        &:hover {
            font-size: 1.6rem;
            margin: 0.4rem 1rem 0.4rem 1rem;
        }
    }
    &__icon {
        height: 1.5rem;
        width: 1.5rem;
        margin-top: 0.1rem;
        margin-left: 0.4rem;
    }
}
.back-end {
    padding: 1rem;
    min-width: 10rem;
    max-width: fit-content;
    margin: 1rem 1rem 0 0;
    color: $medium-grey;
    border: $portfolio-grey 1px solid;
    border-radius: 0.5rem;
    @include tablet {
        margin: 1rem 1rem 0 0;
    }
    &__header {
        color: $med-dark-grey;
        margin-bottom: 0.4rem;
        @include tablet {
            margin-bottom: 0.8rem;
        }
    }
    &__item-container {
        display: flex;
        &:hover {
            .back-end__item {
                font-size: 1.6rem;
                margin: 0.4rem 0 0.4rem 1rem;
            }
            .back-end__icon {
                height: 2rem;
                width: 2rem;
                margin-top: 0.3rem;
                margin-right: 1rem;
            }
        }
    }
    &__item {
        margin: 0.25rem 0 0.4rem 1rem;
        &:hover {
            font-size: 1.6rem;
            margin: 0.4rem 1rem 0.4rem 1rem;
        }
    }
    &__icon {
        height: 1.5rem;
        width: 1.5rem;
        margin-top: 0.1rem;
        margin-left: 0.4rem;
    }
}
.other {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    min-width: 10rem;
    margin: 1rem 0 0 0;
    color: $medium-grey;
    border: $portfolio-grey 1px solid;
    border-radius: 0.5rem;
    @include tablet {
        margin: 1rem 0 0 0;
        display: grid;
        grid: 15rem / auto auto;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-auto-flow: column;
        height: 23rem;
    }
    &__item-container {
        display: flex;
        &:hover {
            .other__item {
                font-size: 1.6rem;
                margin: 0.4rem 0 0.4rem 1rem;
            }
            .other__icon {
                height: 2rem;
                width: 2rem;
                margin-top: 0.3rem;
            }
        }
    }
    &__item {
        margin: 0.25rem 0 0.4rem 1rem;
        &:hover {
            font-size: 1.6rem;
            margin: 0.4rem 1rem 0.4rem 1rem;
        }
    }
    &__header {
        color: $med-dark-grey;
        margin-bottom: 0.4rem;
    }
    &__icon {
        height: 1.5rem;
        width: 1.5rem;
        margin-top: 0.1rem;
        margin-left: 0.4rem;
        margin-right: 1rem;
    }
}