@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.footer {
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
    &__bullet-point {
        color: $portfolio-lilac;
        margin-right: 1rem;
    }
    &__copyright {
        color: $portfolio-lilac;
        width: fit-content;
    }
    &__linkedin-icon {
        background-image: url('../../assets/icons/linkedin.png');
        width: 1.3rem;
        height: 1.3rem;
        display: block;
        margin-right: 1rem;
        margin-top: -0.12rem;
        background-repeat: no-repeat;
        background-size: cover;
        &:hover {
            background-image: url('../../assets/icons/linkedin-drkpurple.png');
        }
        &:active {
            transform: translate(0, 0.2rem);
        }
    }
    &__github-icon {
        background-image: url('../../assets/icons/github.png');
        width: 1.4rem;
        height: 1.4rem;
        display: block;
        margin-right: 1rem;
        margin-top: -0.1rem;
        background-repeat: no-repeat;
        background-size: cover;
        &:hover {
            background-image: url('../../assets/icons/github-drkpurple.png');
        }
        &:active {
            transform: translate(0, 0.2rem);
        }
    }
    &__email-icon {
        background-image: url('../../assets/icons/email.png');
        width: 1.3rem;
        height: 1.3rem;
        display: block;
        margin-right: 1.2rem;
        background-repeat: no-repeat;
        background-size: cover;
        &:hover {
            background-image: url('../../assets/icons/email-drkpurple.png');
        }
        &:active {
            transform: translate(0, 0.2rem);
        }
    }
    &__icon {
        width: 1.3rem;
        height: 1.3rem;
    }
}

svg path {
    &:hover {
        fill: $dark-purple;
    }
}