@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.landing-page {
    height: 49.59vh;
    @include tablet {
        height: 52.485vh;
    }
    &__content {
        margin: 12rem 0;
        @include tablet {
            margin: 18rem 0;
            display: flex;
        }
        @include desktop {
            width: $desktop-content-width;
            margin: 18rem auto;
        }
    }
    &__header {
        width: 14rem;
        color: $portfolio-grey;
        text-align: center;
        margin: 0 auto;
        @include tablet {
            width: 22rem;
        }
    }
}