@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.resume-page {
    margin: 0;
    padding: 0;
    height: 110vh;
    @include tablet {
        height: 102vh;
    }
    @include desktop {
        width: $desktop-content-width;
        margin: 0 auto;
    }
    &__content {
        padding: 2rem 1.5rem 0 1.5rem;
        @include tablet {
            padding: 2rem 2rem 0 2rem;
        }
        @include desktop {
            padding: 2rem 0 0 0;
        }
    }
    &__header {
        color: $portfolio-grey;
        font-size: 1.6rem;
        @include desktop {
            margin: 0;
        }
    }
    &__pdf {
        height: 90vh;
        width: 100%;
        margin: 2rem auto 0 auto;
    }
}