@use "./styles/partials/fonts" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

#root {
  margin: 0;
  padding: 0 0 1rem 0;
}
html {
  font-family: "Albert Sans";
}
* {
  margin: 0;
  //box-sizing: border-box;
  //overflow-x: hidden;
}