@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.contact-page {
    height: 74vh;
    @include tablet {
        height: 89vh;
    }
    &__content {
        color: $medium-grey;
        padding: 2rem 1.5rem;
        @include tablet {
            
            
        }
        @include desktop {
            width: $desktop-content-width;
            margin: 0 auto;
        }
    }
    &__header {
        margin: 0 0 2rem 0;
        font-size: 1.6rem;
        color: $portfolio-grey;
        @include tablet {
            margin: 0 0 2rem 0.5rem;
        }
        @include desktop {
            margin: 0 0 2rem 0;
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include tablet {
            margin-left: 0.5rem;
            width: 30rem;
        }
        @include desktop {
            margin-left: 0;
        }
    }
    &__description {

    }
    &__CTA {
        margin: 2rem 0 3rem 0;
        @include tablet {
            
        }
    }
}

.socials-icons {
    display: flex;
    &__linkedin {
        background-image: url('../../assets/icons/linkedin.png');
        width: 1.3rem;
        height: 1.3rem;
        display: block;
        margin-right: 1rem;
        margin-top: -0.12rem;
        background-repeat: no-repeat;
        background-size: cover;
        &:hover {
            background-image: url('../../assets/icons/linkedin-drkpurple.png');
        }
        &:active {
            transform: translate(0, 0.2rem);
        }
    }
    &__medium {
        background-image: url('../../assets/icons/medium-brands-solid.svg');
        width: 1.7rem;
        height: 1.3rem;
        display: block;
        margin-right: 1.2rem;
        background-repeat: no-repeat;
        background-size: cover;
        &:hover {
            background-image: url('../../assets/icons/medium-brands-solid-drkpurple.svg');
        }
        &:active {
            transform: translate(0, 0.2rem);
        }
    }
    &__github {
        background-image: url('../../assets/icons/github.png');
        width: 1.4rem;
        height: 1.4rem;
        display: block;
        margin-right: 1rem;
        margin-top: -0.1rem;
        background-repeat: no-repeat;
        background-size: cover;
        &:hover {
            background-image: url('../../assets/icons/github-drkpurple.png');
        }
        &:active {
            transform: translate(0, 0.2rem);
        }
    }
}

.email {
    margin: 2rem 0 2rem 0;
    display: flex;
    &:hover {
        .email__icon {
            background-image: url('../../assets/icons/email-drkpurple.png');
        }
        .email__link {
            color: $dark-purple;
        }
    }
    &:active {
        .email__icon, .email__link {
            transform: translate(0, 0.2rem);
        }
    }
    &__icon {
        background-image: url('../../assets/icons/email.png');
        width: 1.3rem;
        height: 1.3rem;
        display: block;
        margin-right: 0.5rem;
        margin-top: 0.11rem;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__link {
        color: $portfolio-lilac;
        display: flex;
        align-items: center;
    }
}