@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.contact-page {
    height: 74vh;
    @include tablet {
        height: 89vh;
    }
    &__content {
        color: $portfolio-grey;
        padding: 2rem 1.5rem;
        @include tablet {
            
            
        }
        @include desktop {
            width: $desktop-content-width;
            margin: 0 auto;
        }
    }
    &__header {
        margin: 0 0 2rem 0;
        font-size: 1.6rem;
        color: $med-dark-grey;
        @include tablet {
            margin: 0 0 2rem 0.5rem;
        }
        @include desktop {
            margin: 0 0 2rem 0;
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include tablet {
            margin-left: 0.5rem;
            width: 30rem;
        }
        @include desktop {
            margin-left: 0;
        }
    }
    &__description {

    }
    &__CTA {
        margin: 2rem 0 3rem 0;
        @include tablet {
            
        }
    }
}

.socials-icons {
    display: flex;
    &__icon {
        width: 2rem;
        height: 1.5rem;
        margin-right: 1rem;
        &:active {
            transform: translate(0, 0.2rem);
        }
    }
}

.email {
    margin: 2rem 0 2rem 0;
    display: flex;
    &:hover {
        svg path {
            fill: $dark-purple;
        }
        .email__link {
            color: $dark-purple;
        }
    }
    &:active {
        .email__icon, .email__link {
            transform: translate(0, 0.2rem);
        }
    }
    &__icon {
        width: 1.3rem;
        height: 1.3rem;
        display: block;
        margin-right: 0.5rem;
        margin-top: 0.11rem;
    }
    &__link {
        color: $portfolio-lilac;
        display: flex;
        align-items: center;
    }
}